# Node.js modules
/node_modules/

# Compiled output
/dist/
/build/

/*.log

# TypeScript cache
*.tsbuildinfo

# Environment configuration files
.env

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store      # macOS
Thumbs.db      # Windows

# npm package lock files (optional, if you want to ignore them, otherwise leave them tracked)
# package-lock.json
# yarn.lock
